# Shopify Data Science Challenge

Question 1: Given some sample data, write a program to answer the following: click here to access the required data set

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 


What metric would you report for this dataset?
What is its value?

## Import Libraries

In [1]:
import pandas as pd

## Load Dataset

In [2]:
# Load the dataset
df = pd.read_csv('./data/2019_Winter_Data_Science_Intern_Challenge_Data_Set.csv')
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

## Part a

In [3]:
# Incorrect AOV
total_order_amount = df['order_amount'].sum()
total_items = df['total_items'].count()
aov = total_order_amount/total_items
print(aov)

3145.128

## Part b and c

In [4]:
# Average Order Value (AOV)

total_order_amount = df['order_amount'].sum()
total_items = df['total_items'].sum()
aov = total_order_amount / total_items

print("Average Order Value: $%.2f"% (aov))

Average Order Value: $357.92